<section class="first-view center-vertical">
	<h1>MUSIC SNS!!!</h1>
	<% unless session[:user] %>
		<div class="signin-container">
			<form action="/signin" method="post">
				<input type="text" name="name" placeholder="ユーザー名">
				<input type="password" name="password" placeholder="パスワード">
				<input type="submit" value="Sign in">
			</form>
		</div>
	<% end %>
</section>

<section class="center-vertical">
	<h1>最新の投稿</h1>
	<% unless @posts.empty? %>
		<% @posts.each do |_post| %>
			<div class="post center-vertical">
				<img src="<%= _post.image_url %>" width="125" height="125">
				<p>artist: <%= _post.artist_name %></p>
				<p>コメント: <%= _post.comment %></p>
				<p>投稿者: <%= _post.user.name %><br>
					<a href="#">フォローする</a>
					<a href="#">フォロー解除</a><br>
				</p>
				<p>いいねしたユーザー<br>
					<% unless _post.favorites.empty? %>
						<% _post.favorites.each do |favorite| %>
							<img class="user-icon" src="<%= favorite.user.image_url %>" alt="user_image">
						<% end %>
					<% end %>
				</p>
				<a href="/favorite/<%= _post.id %>">いいねする</a>
			</div>
		<% end %>
	<% else %>
		<p>投稿がありません</p>
	<% end %>
</section>
