<section class="center-vertical">
	<h1><%= @user.name %>の投稿</h1>
	<% unless @user.posts.empty? %>
		<% @user.posts.each do |_post| %>
			<div class="center-hrizontal">
				<div class="post center-vertical">
					<img src="<%= _post.image_url %>">
					<p><%= _post.artist_name %></p>
					<p><%= _post.collection_name %></p>
					<p><%= _post.track_name %></p>
					<a href="<%= _post.preview_url %>">サンプル</a>
					<p>コメント：<%= _post.comment %></p>
					<a href="/delete/<%= _post.id %>">削除</a>
					<a href="/edit/<%= _post.id %>">編集</a>
				</div>
			</div>
		<% end %>
	<% else %>
		<p>投稿がありません</p>
	<% end %>
</section>

<section class="center-vertical">
	<h1><%= @user.name %>のイイねした投稿</h1>
	<% unless @user.favorites.empty? %>
		<% @user.favorites.each do |favorite| %>
			<div class="center-hrizontal">
				<div class="post center-vertical">
					<img src="<%= favorite.post.image_url %>">
					<p><%= favorite.post.artist_name %></p>
					<p><%= favorite.post.collection_name %></p>
					<p><%= favorite.post.track_name %></p>
					<a href="<%= favorite.post.preview_url %>">サンプル</a>
					<p>コメント：<%= favorite.post.comment %></p>
				</div>
			</div>
		<% end %>
	<% else %>
		<p>イイねがありません</p>
	<% end %>
</section>

<% if false %>
<section class="center-vertical">
	<h1><%= @user.name %>のフォロー</h1>
	<a href="#">フォロー解除</a><br>
</section>

<section class="center-vertical">
	<h1><%= @user.name %>のフォロワー</h1>
</section>
<% end %>
